<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>

<body>
	<header>
		<div class="container">
			<div class="row">
				<a href="{% static 'profile' %}" class="header-logo">
					<img src="./images/Logo.png" alt="Логотип Stonks">
				</a>
				<h1 class="subject">Сообщество</h1>
				<div class="cabinet">
					<div class="cabinet__user-name">
						<a href="./profile.html">Мой профиль</a></div>
					<div class="cabinet__user-icon"></div>
				</div>
			</div>
		</div>
	</header>
	<main>
		<nav class="main-nav">
			<ul class="main-nav__list">
				<li class="main-nav__item"><a href="./index.html" class="main-nav__link">Анализ инструментов</a></li>
				<li class="main-nav__item"><a href="./portfolio.html" class="main-nav__link">Анализ портфеля</a></li>
				<li class="main-nav__item"><a href="./strategy.html" class="main-nav__link">Тестер стратегий</a></li>
				<li class="main-nav__item"><a href="./community.html" class="main-nav__link">Сообщество</a></li>
				<li class="main-nav__item"><a href="./profile.html" class="main-nav__link">Мой профиль</a></li>
			</ul>
		</nav>
		<div class="section">
		</div>
	</main>
</body>
</html>

